.about-container {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  align-items: center;
  text-align: center;
}
.portrait-image {
  margin-top: 3rem;
  max-width: 30rem;
}
.about-second-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
}
.about-primary-title {
  font-size: 2rem;
  font-weight: 600;
}
.about-container p {
  max-width: 30rem;
  margin-top: 1rem;
  font-weight: 200;
}
.portfolio-link {
  margin-top: 1.5rem;
  max-width: 20rem;
}
@media (min-width: 60rem) {
  .about-container p {
    max-width: 40rem;
  }
}
