.navbar {
  width: 80%;
  margin-inline:auto;
  margin-block: 2rem;
}
.flex-center {
  display: flex;
  justify-content: space-between;
}
main {
  flex-direction: row;
  width: 70%;
  margin-inline: auto;
}
.input-section {
  margin-right: 2rem;
  flex-direction: column;
  align-items:flex-start;
}
.output-section {
  margin-right: 2rem;
  align-items: center;
}
button {
  background-color: wheat;
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
}
input{
  padding: 0.5rem 1rem;
}
