*, * > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
main {
  flex-direction: row;
  width: 40rem;
  margin-inline: auto;
}
input{
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 4px;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline:auto;
  margin-block: 2rem;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.input-section {
  display: flex;
  flex-direction: column;
}
.input-section .input-row:not(:last-child) {
  margin-bottom: 0.8rem;
}
.input-section .input-row {
  display: flex;
  justify-items: center;
}
.input-row .single-input {
  display: flex;
  flex-direction: column;
  width: 19rem;
}
.input-row .single-input:not(:last-child) {
  margin-right: 2rem;
}
.single-input > input {
  width: 100%;
}
.output-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.input-section .add-button {
  margin-top: 1rem;
  width: 100%;
  background-color: wheat;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

