:root {
  --soft-black: #292A2B;
}
*, * > * {
  box-sizing: border-box;
  color: var(--soft-black);
  padding: 0;
  margin: 0;
  font-size: 16px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
main {
  flex-direction: row;
  width: 45rem;
  margin-inline: auto;
}
input{
  padding: 0.9rem 1rem;
  border: solid 1px var(--soft-black);
  border-radius: 4px;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline:auto;
  margin-block: 2rem;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.input-section {
  display: flex;
  flex-direction: column;
}
.input-section .input-row:not(:last-child) {
  margin-bottom: 0.8rem;
}
.input-section .input-row {
  display: flex;
  justify-items: center;
}
.input-row .single-input {
  display: flex;
  flex-direction: column;
  width: 22rem;
}
.input-row .single-input:not(:last-child) {
  margin-right: 2rem;
}
.single-input > input {
  width: 100%;
}
.single-input > label {
  margin-bottom: 0.3rem;
}
.output-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.input-section .add-button {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--soft-black);
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
}
table {
  border-collapse:collapse;
  width: 45rem;
}
thead {
  background-color: #292A2B;
  color: white;
  padding-block: 0.8rem;
  border-radius: 3px;
}
tbody {
  padding: 0;
  margin: 0;
  border: none;
}
th {
  width: 9rem;
  text-align: left;
  color: white;
}
td {
  padding-block: 1.5rem;
  width: 9rem;
  font-size: 16px;
}
tr {
  border-bottom: solid 1px var(--soft-black);
}
tfoot > tr {
  text-align: left;
}
tfoot th {
  text-align: right;
}
tfoot td {
  padding-block: 0.8rem;
}
.client {
}
.product { 
  width: 11rem;
}
.price {
  width: 7rem;
}
.delete {
  width: 10rem;
  text-align: center;
}
.qty {
  text-align: center;

}
